.hero-image {
    background-image: url("C:/Users/dell/Desktop/sdpproject/frontend/src/assets/doctor.png"); /* The image used */
    /* Used if the image is unavailable */
    height: 1000px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
  .hero-color {
    background-color: #0e9e9e;
    min-height: 100% ;
  }
  