
  .example-card{
      height :700px;
      margin: 0 auto;
      width: 750px;
      justify-content: center;
      align-items: center;

  }
  table {
    width: 100%;
    border-spacing: 20px ;
  }
 table, tr, th {
   border: 1px solid ;
   border-color: aliceblue;
   border-collapse: collapse;
  }

   tr, td {
    padding: 40px ;
   }
   .hero-imag {
    background-image: url("C:/Users/dell/Desktop/sdpproject/frontend/src/assets/text2.jpg"); /* The image used */
  /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
  .example-car{
    height : 150px;
    margin: 0 auto;
    width: 150px;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(117, 113, 113);
}
.imagepro{
  border-radius: 50%;
  width: 2cm;
  height:6cm ;
  padding-left: 100px;
  padding-right: 100px;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}