<div class="hero-imag"></div>
<h1 style="color: azure;text-align: center; ">CONTACT US </h1>

  <div class = "">
  <mat-grid-list cols= 2 #grid rowHeight="400px" gutterSize="30px">
    <mat-grid-tile >
       <mat-card class="example-card">
       <mat-card-header>
        <mat-card-title></mat-card-title>
         <mat-card-subtitle>
            We are available from 8am-8pm (Mon-Sun)
         </mat-card-subtitle>
       </mat-card-header> <mat-card-content>
        <tr>
           <td>  <mat-icon style="color: rgb(226, 118, 17);">phone</mat-icon></td> 
           <td> 1800 121 2324</td> 
        </tr>
        <tr>
            <td>  <mat-icon style="color: rgb(226, 118, 17);">mail</mat-icon></td> 
            <td>bookings@lifesaving.com</td> 
         </tr>
          <tr>
            <td>  <mat-icon style="color: rgb(226, 118, 17);">location_on</mat-icon></td>
            <td>Life Saving E Rentals</td> 
            </tr>
         <tr>
             <td></td>
             <td> 68/B, 2nd stage, 1st cross, Domlur, Bengaluru - 560071</td>
         </tr>
       </mat-card-content>
       <mat-card-actions>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15552.554542092546!2d77.62684414878085!3d12.962979403065123!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae141b7a99d35f%3A0x8259caa76fcf598e!2sDomlur%2C%20Bengaluru%2C%20Karnataka!5e0!3m2!1sen!2sin!4v1606826609283!5m2!1sen!2sin"
         width="450" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
     </mat-card-actions>
     </mat-card>

     </mat-grid-tile>
      <mat-grid-tile >
         <mat-card class="example-card">
          <mat-card-header>
          <mat-card-title></mat-card-title>
           <mat-card-subtitle> </mat-card-subtitle>
         </mat-card-header>
          <mat-card-content>
         <div style = "padding-bottom: 30px;">
          <div>
           <h3 style="color: rgb(11, 145, 145);">For Bookings and Service queries:</h3>  
         </div>
         <div>
           <tr>
              <td>  <mat-icon style="color: rgb(226, 118, 17);">phone</mat-icon></td> 
              <td> 1800 121 2324 (press1)</td> 
           </tr>
         </div>
         <div>
           <tr>
              <td>  <mat-icon style="color: rgb(226, 118, 17);">mail</mat-icon></td> 
              <td>bookings@lifesaving.com</td> 
            </tr>
         </div>
        </div>
        <div>
          <div>
         <div>
          <h3 style="color: rgb(11, 145, 145);">For Customer Support & Feedback:</h3>  
        </div>
      </div>
        <div>
         <tr>
            <td>  <mat-icon style="color: rgb(226, 118, 17);">phone</mat-icon></td> 
            <td> 1800 121 2324 (press2)</td> 
         </tr>
       </div>
       <div>
          <tr>
            <td>  <mat-icon style="color: rgb(226, 118, 17);">mail</mat-icon></td> 
            <td> customersupport@lifesaving.com</td> 
         </tr>
       </div>
     </div>
     <div >
      <h2 style="margin-left: 2.5em;padding: 10px 10px 10px 10px;border-width: 2px; border-color:rgb(223, 186, 19);
        background-color: rgb(223, 186, 19); text-align: center; padding-bottom: 10px;padding-top: 10px;
        border-style:solid;text-align: center; font-size: larger; color: rgb(241, 244, 247)">
         +1 (979) 401-2323 (outside India)  </h2>
      </div>
   </mat-card-content>
      <mat-card-actions></mat-card-actions>
       </mat-card>
       </mat-grid-tile>
  </mat-grid-list>


  <mat-grid-list cols= 3 #grid rowHeight="400px" gutterSize="30px">

    <mat-grid-tile >
        <mat-card class="example">
        <mat-card-header>
         <mat-card-title> BANGALORE</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle> 
        </mat-card-header>
       <mat-card-content>
        <tr>
            <td>  <mat-icon style="color: rgb(226, 118, 17);">location_on</mat-icon></td>
            <td>Life Saving E Rentals™ Medical, 68/B, 2nd Stage, 1st Cross Road, Domlur, Bengaluru, Karnataka 560071</td> 
        </tr>
         </mat-card-content>
        <mat-card-actions></mat-card-actions>
      </mat-card>
      </mat-grid-tile>
 
            <mat-grid-tile >
          <mat-card class="example">
           <mat-card-header>
           <mat-card-title></mat-card-title>
            <mat-card-subtitle> MUMBAI</mat-card-subtitle>
          </mat-card-header>
      <mat-card-content>
        <tr>
            <td>  <mat-icon style="color: rgb(226, 118, 17);">location_on</mat-icon></td>
            <td>31/248 Ground floor anand nagar Vakola santacruz east Mumbai Mumbai - 400055</td> 
        </tr>
            </mat-card-content>
          <mat-card-actions></mat-card-actions>
        </mat-card>
        </mat-grid-tile>

        <mat-grid-tile >
            <mat-card class="example">
            <mat-card-header>
             <mat-card-title></mat-card-title>
              <mat-card-subtitle>CHENNAI </mat-card-subtitle>
            </mat-card-header>
           <mat-card-content>
            <tr>
                <td>  <mat-icon style="color: rgb(226, 118, 17);">location_on</mat-icon></td>
                <td>No : 715 B, 8th Floor , 2nd Space Spencer Plaza Annasalai Chennai - 600002</td> 
            </tr>
            </mat-card-content>
            <mat-card-actions> </mat-card-actions>
          </mat-card>
          </mat-grid-tile>
   </mat-grid-list>
 
</div>


