.example-card{
    height :400px;
    margin: 0 auto;
    width: 800px;
    justify-content: center;
    align-items: center;
}
.example{
   height : 500px ;
    margin: 0 auto;
    width: 300px;
    justify-content: center;
    align-items: center;
}
.hero-imag {
    background-image: url("C:/Users/dell/Desktop/sdpproject/frontend/src/assets/text3.png"); /* The image used */
  /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
  .hero-image {
    background-image: url("https://cdn.wallpapersafari.com/8/52/Bk2c15.jpg"); /* The image used */
  /* Used if the image is unavailable */
    height: 2000px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }