<div class="footer">
  <div class = "footer-content">
    <div class="footer-section about">
      <h1 class="logo-text"><span>Life Saving-E-Rntals</span></h1>
      <p>For procurement of medical equipment, supplies, products, consumables and medical devices online in India.
        India's Largest Online Medical & Hospital Products Store.Our registered office is located in Bangalore. Prime Healers is run by qualified professionals and trusted partners. 

        ​
      </p>
      <div class="contact">
        <span><i class="fas fa-phone"> 1800 121 2324</i> &nbsp;<br></span>
        <span><i class="fas fa-envelpo">customersupport@lifesaving.com</i> &nbsp;  </span>
      </div>
      <div class="socials">
        <a href="#"><i class="fab fa-facebook"></i></a>
      </div>
    </div>
    <div class="footer-section links">
      <h2>Quick Links</h2>
      <br>
      <ul>
          <a href="#"><li>About US</li></a>
          <a href="#"><li>Contact US</li></a>
          <a href="#"><li>Partners</li></a>
          <a href="#"><li>Gallery</li></a>
          <a href="#"><li>Terms & conditions</li></a>
      </ul>
    </div>
    <div class="footer-section contact">
      <div style = "padding-bottom: 30px;">
        <div>
         <h5 style="color: rgb(11, 145, 145);">For Bookings and Service queries:</h5>  
       </div>
       <div>
         <tr>
            <td>  <mat-icon style="color: rgb(226, 118, 17);">phone</mat-icon></td> 
            <td> 1800 121 2324 (press1)</td> 
         </tr>
       </div>
       <div>
         <tr>
            <td>  <mat-icon style="color: rgb(226, 118, 17);">mail</mat-icon></td> 
            <td>bookings@lifesaving.com</td> 
          </tr>
       </div>
      </div>
      <div>
        <div>
       <div>
        <h5 style="color: rgb(11, 145, 145);">For Customer Support & Feedback:</h5>  
      </div>
    </div>
      <div>
       <tr>
          <td>  <mat-icon style="color: rgb(226, 118, 17);">phone</mat-icon></td> 
          <td> 1800 121 2324 (press2)</td> 
       </tr>
     </div>
     <div>
        <tr>
          <td>  <mat-icon style="color: rgb(226, 118, 17);">mail</mat-icon></td> 
          <td> customersupport@lifesaving.com</td> 
       </tr>
     </div>
   </div>
   <div >
    <h4 >
       +1 (979) 401-2323 (outside India)  </h4>
    </div>
    </div>
  </div>
  <div class="footer-bottom">
    &copy;Lifesaving-e-rentals.com | Designed by SDP-6 team
  </div>
</div>