.hero-imag {
    background-image: url("C:/Users/dell/Desktop/sdpproject/frontend/src/assets/demo.jpg"); /* The image used */
  /* Used if the image is unavailable */
    height: 900px; /* You must set a specified height */
    
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }